# Functions
drestart() {
service=$1
systemctl --user restart daemons@${service}
}

# Setup environment variables
export PATH=$(fish -c 'echo $PATH' | tr ' ' ':')
export SSH_AUTH_SOCK=$(fish -c 'echo $SSH_AUTH_SOCK')

# Make sure geoclue starts before redshift
drestart geoclue

# Remaining Daemons
drestart blueman-applet
drestart dropbox
drestart feh-wallpaper-shuffle
drestart xbindkeys
drestart kdeconnect
drestart pasystray
drestart wicd-gtk
drestart xss-lock
drestart clight
drestart libinput-gestures